.container
{
    margin-top: 1em;
    margin-bottom: 6em;
    padding: 1em;

    .card
    {
        -webkit-box-shadow: 9px 10px 38px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 10px 38px 0px rgba(0,0,0,0.75);
        box-shadow: 9px 10px 38px 0px rgba(0,0,0,0.75);

        .row
        {
            justify-content: center;
            align-items: center;
        }
        
        .title
        {
            margin-top: 1px;
            font-weight: bolder;
        }
        li{
            line-height: 1.7rem;
        }
    }
}

@media screen and (max-width:767px) 
{
    .container
    {
        margin-bottom: 4em;
        
        .card
        {
            font-size: 14px;
        }
    }
}

@media screen and (max-width:991px) 
{
    .container
    {
        margin-top: 15em;
    }
}